@page "/DemoHotel"
@using Model

<style>
	.card 
	{
		display: inline-block;
	}
</style>

<h2>Hotel Rooms and Amenities</h2>
<h3 class="text-info">Room List</h3>

<h4 class="text-info">Hotel Rooms</h4>
<span>Rooms Selected - @SelectedRooms</span>
<br />
@foreach(var room in RoomsList)
{
	<IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChanged" Room="@room"></IndividualRoom>
}

<h4 class="text-info">Amenities List</h4>
@foreach(var amenity in AmenitiesList)
{
	<IndividualAmenity OnAmenitySelection="AmenitySelectionChanged" Amenity="@amenity">
		<FirstFragment>#1</FirstFragment>
		<SecondFragment>#2</SecondFragment>
	</IndividualAmenity>
}
<br />

<p>Selected Amenity: @SelectedAmenity</p>

@code {
	public int SelectedRooms { get; set; } = 0;
	public string SelectedAmenity { get; set; } = "";

	List<BlazorRoom> RoomsList = new List<BlazorRoom>();
	List<BlazorAmenities> AmenitiesList = new List<BlazorAmenities>();

	protected override void OnInitialized()
	{
		base.OnInitialized();

		RoomsList.Add(new BlazorRoom()
		{
			Id = 201,
			RoomName = "Villa Suite One Bedroom",
			IsActive = true,
			Price = 299,
			RoomProps = new List<BlazorRoomProp>
			{
				new BlazorRoomProp{Id=1, Name="Sq Ft", Value="450"},
				new BlazorRoomProp{Id=2, Name="Occupancy", Value="3"}
			}
		});
		RoomsList.Add(new BlazorRoom()
		{
			Id = 301,
			RoomName = "Villa Suite Two Bedroom",
			IsActive = true,
			Price = 499,
			RoomProps = new List<BlazorRoomProp>
			{
				new BlazorRoomProp{Id=1, Name="Sq Ft", Value="700"},
				new BlazorRoomProp{Id=2, Name="Occupancy", Value="6"}
			}
		});

		AmenitiesList.Add(new BlazorAmenities()
			{
				Id = 111,
				Name = "Gym",
				Description = "24x7 gym is available."
			});
		AmenitiesList.Add(new BlazorAmenities()
			{
				Id = 222,
				Name = "Swimming Pool",
				Description = "Pool is open from 6am to 10pm."
			});
		AmenitiesList.Add(new BlazorAmenities()
			{
				Id = 333,
				Name = "Free Breakfast",
				Description = "Enjoy free breakfast daily."
			});
	}

	protected void RoomSelectionCounterChanged(bool isRoomSelected)
	{
		if (isRoomSelected)
		{
			SelectedRooms++;
		}
		else
		{
			SelectedRooms--;
		}
	}

	protected void AmenitySelectionChanged(string amenitySelected)
	{
		SelectedAmenity = amenitySelected;
	}
}
